version: "3.9"
services:
  chatgpt_discord_bot:
    build: .
    restart: always
    environment:
      BOT_TOKEN: <YOUR_BOT_TOKEN>
      OPENAI_API_KEY: <YOUR_OPENAI_API_KEY>
    volumes:
      - data:/data
volumes:
  data: